<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>

    <form th:action="@{/login}" method="post">
        <label for="email">Correo:</label>
        <input type="text" name="username" id="email" required />

        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Entrar</button>
    </form>

    <div th:if="${param.error}">
        <p style="color:red;">Correo o contraseña incorrectos</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">Has cerrado sesión</p>
    </div>
</body>
</html>