.contenedor-secciones{
  width: 60%;
  display: flex;
  margin-left: 4%;
  gap: 10px;
}
.secciones{
  width: 160px;
  text-align: center;
  padding: 1%;
  font-size: 15px;
  border: 1px solid black;
}
.product-name{
  font-size: 18px;
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 480px){

  .contenedor-secciones{
    margin-left: 1%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }


  .secciones{
    width: 20%;
    font-size: 13px;
    
  }

}