
    .h3-detalles{
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
    }
    
    .product-detail {
        display: flex;
        margin-left: 17%;
        margin-top: 2%;
        gap: 20px; /
    }
    .product-detail img {
        margin-top: 1%;
        margin-left: 50px;
        width: 40%; 
        
    }
    .product-detail-name{
        margin-top: 0%;
        font-size: 24px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    .product-detail-price{
        margin-top: 3%;
        font-size: 17px;
        color: rgb(53, 53, 53);
    }
    .lineaproduct{
        margin-top: 5%;
        width: 100%;
        border-top: 1px solid #000000;
        margin-bottom: 1rem; 
    }
    .info{
        margin-top: 10%;
        width: 35%;
        margin-left: 2%;
        margin-right: 22%;
    }
    .info-product {
        display: flex;
        flex-direction: column;
    }
    p{
        margin-right: 2%;
        margin-left: 5%;
        font-size: 12px;
        margin-top: 5%;
        font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;;
    }
    .referencia{
        font-size: 12px;
        margin-left: 5%;
        margin-top: 4%;
        color: rgb(63, 63, 63);
    }
    h3{
        margin-top: 4%;
        margin-left: 5%;
        font-size: 16px;
    }

    .composicion{
        margin-top: 2%;
        margin-left: 5%;
        font-size: 13px;
        font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;;
    }
    .cuidados{
        margin-top: 2%;
        margin-left: 5%;
        font-size: 13px;
        font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;;
    }
    #Button-Añadir{
        
        width: 30%;
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        background-color: white;
        border: 1px solid black;
    }
    .Button-añadir{       
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
   



    .tallas-container{
        width: 96%;
        font-size: 16px;
        padding: 2%;
        font-family: 'Courier New', Courier, monospace;
        background-color: white;
        border: 1px solid black;
        border-top: none;
    }
    .talla-boton{
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        gap: 10px;
        margin-top: 2%;
        border: #ffffff 1px solid;
        background-color: #ffffff;
        font-size: 15px;
        color: rgb(0, 0, 0);

    }

 

.imagenes-adicionales {
  width: 60%;
  margin-top: 100px;
  display: flex; /* Coloca los elementos en fila */
  gap: 100px; /* Espacio entre las imágenes */
  align-items: flex-start; /* Alinea verticalmente las imágenes al inicio */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
 }
 .imagenes-adicionales img {
  width: 50%; /* Para que cada imagen ocupe la mitad del ancho */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen completa se vea dentro del contenedor sin recortar, manteniendo la proporción */
 }

    
.Button-añadir{
    margin-top: 5%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#Button-Añadir{
    width: 100%;
    font-size: 16px;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: 1px solid black;
}

    .imagen-detalle-estilo {
        display: flex;
        flex-direction: row;
        margin-left: 17%;
        gap: 10%;
        width: 80%;
        margin-top: 4%;
    }
    .imagen-detalle-estilo img {
        width: 37%;
        height: 35%;
       
    }

.panel-cesta {
  position: fixed;
  top: 0; 
  right: -400px; 
  height: 96%; 
  background-color: rgba(228, 228, 228, 0.568);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  width: 300px; 
  transition: right 0.3s ease-in-out;
  z-index: 1000; 
}

.panel-cesta.activo {
  right: 0; 
}

.panel-cesta h3 {
  margin-top: 45px;
  color: #525252;
  text-align: center; 
}

.botones-cesta {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: auto; 
}

.botones-cesta {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: auto; 
}

.botones-cesta button {
  padding: 15px 20px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0.568);
  color: black; 
  font-weight: bold; 
  transition: background-color 0.2s ease, color 0.2s ease; 
}

.botones-cesta button:hover {
  background-color: black;
  color: white; 
}