@font-face {
  src: url("https://mdn.github.io/shared-assets/fonts/variable-fonts/AmstelvarAlpha-VF.ttf");
  font-family: "AmstelvarAlpha";
  font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    color: #333; 
}

.botones  {
    margin-top: 13%;
    margin-left: 460px;
    margin-bottom: 50px;
    display: block; 
    width: 40%; 
    height: auto; 
}

.imagenes-pares {
    display: flex; 
    gap: 15px; 
}

.imagenes-pares img {
    margin-left: 50px;
    margin-right: 50px;
    width: calc(50% - 5px);
}



.Bebedescripcion {
  display: flex; 
  width: 95%; 
  position: relative; 
}

.Bebedescripcion img {
  margin-left: 150px;
  display: block; 
  width: 100%; 
  height: auto; 
}

.Bebedescripcion .text-beberopa {
   font: 0.8rem "AmstelvarAlpha",sans-serif;
  font-style: oblique 23deg;
  width: 250px;
  position: absolute;
  top: 88%;
  right: 390px; 
  transform: translateY(-50%);
  color: #000000;
  padding: 10px;
  z-index: 1; 
}

.bañador-hombre {
    display: flex;
    gap: 15px; 
}

.bañador-hombre img{
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    width: calc(40% - 5px); 
}


.contenedor {
    display: flex;
    gap: 15px; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    background-color: #fff; 
}

.contenedor .circulo {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

 .text-container {
  margin-top: 25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase;
  background: url("/Imagenes/mar.jpg") no-repeat center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.contenedor {
    margin-left: 620px;
    width: 650px; 
    height: 200px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    }

.circulo {
    margin-right: 30px;
    width: 100px; 
    height: 100px; 
    background-color: black;
    border-radius: 50%;
}

 @media screen and (max-width: 768px) {
    
    .botones  {
    margin-top: 280px;
    margin-left: 40px;
    margin-bottom: 50px;
    }
    .botones img {
        width: 350px; 
    }

    .imagenes-pares {
        width: 350px; 
    display: flex; 
    }

    .imagenes-pares img {
        margin-left: 0px;
        margin-right: 0px;
        width: calc(200px); 
    }

    .contenedor {
        margin-left: 20px;
        width: 354px; 
        height: 40px; 
        display: flex;
    }

    .contenedor .circulo {
        width: 30px;
        height: 17px;
        background-color: black;
        border-radius:50%;
    }

    .Bebedescripcion img {
        margin-left: 40px;
        display: block; 
        width: 350px; 
        height: auto; 
    }

    .Bebedescripcion .text-beberopa {
        font: 2rem "AmstelvarAlpha",sans-serif;
        font-style: oblique 23deg;
        width: 110px;
        font-size: 5px;
        position: absolute; 
        top: 88%; 
        right: 0px; 
        transform: translateY(-50%); 
        color: #000000; 
        padding: 10px;
        z-index: 1; 
    }

    .bañador-hombre img{
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
        width: calc(45%); 
    }

    .bañador-hombre {

        display: flex; 
        gap: 15px; 
        margin-left: 0px;
    }

    .text-container {
        margin-top: 90px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        background: url("/Imagenes/mar.jpg") no-repeat center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

 }