.menu-familia {
  margin-top: 15px;
  width: 60%;
  background-color: #ffffff;
  padding: 10px 0;
}

.menu-personalizado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.zona-familias {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.lista-familias {
  padding: 10px 15px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.lista-familias a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Familia activa */
.lista-familias.activa {
  background-color: black;
}

.lista-familias.activa a {
  color: white;
}

/* Media Queries para móvil */
@media (max-width: 600px) {
 .menu-familia {
  margin-left: 15px;
  width: 95%;
  padding: 8px 0;
}

.menu-personalizado {
  gap: 10px;
}

.zona-familias {
  gap: 10px;
}

.lista-familias {
  padding: 4px 8px;      /* Menos padding para que sean más pequeños */
  min-width: 70px;       /* Más estrechos */
  font-size: 12px;       /* Texto más pequeño */
  text-align: center;    /* Texto centrado */
}

}