.favoritos-container {
  margin-left: 200px;
  padding: 1rem;
}

.favoritos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.favorito-item {
  margin-top: 30px;
  padding: 0.5rem;
  text-align: center;
}
.favorito-nombre a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.favorito-imagen {
  max-width: 250px;
  object-fit: contain; /* Para que la imagen no se distorsione */
  margin-bottom: 0.5rem;
}


.favorito-nombre {
  font-size: 1rem;
  margin: 0;
}

.favorito-precio {
  color: #555;
  font-weight: bold;
  margin-top: 0.25rem;
}
