.Regis-Login {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center; 
  justify-content: center; 
}

#imagenlateral {
  width: 100%;
  
}

h1 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Didot", serif;
  font-size: 3em;
}

.formulario {
  width: 70%;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

input {
  margin-top: 3px;
  width: 97%;
  padding: 9px;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid #000000;
}

input:focus {
  border-color: #000;
  outline: none;
}

#botonGoogleRegistro {
  margin-top: 2%;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
}

#botonGoogleRegistro img {
  width: 40px;
}

#Registrar {
  margin-top: 2%;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid black;
}

#Registrar a {
  text-decoration: none;
  color: #000;
}

#Iniciarsesion {
  margin-top: 2%;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid black;
}

#Iniciarsesion a {
  text-decoration: none;
  color: #ffffff;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .Regis-Login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .formulario {
    width: 90%;
    margin: 0;
    padding: 1rem;
    text-align: center; 
  }

  #imagenlateral {
    display: none; 
  }
}
