    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- el xmlns:th="http://www.thymeleaf.org" es necesario para usar Thymeleaf -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>I&Tdeck</title>
    </head>
    <body>
        <h1>I&Tdeck</h1>
    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>direccion</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}"> 
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.Username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.telefono}"></td>
                    <td th:text="${user.direccion}"></td>
                    <td th:text="${user.rol}"></td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>