
.pedido-confirmado-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.contenido-principal-pedido {
  flex: 1;
  padding: 20px;
  overflow-x: auto;
}



.table-pedidos{
  width: 100%;
  height: 700px;
  border-collapse: collapse;
  background-color: #fff;
  overflow: hidden;
}

.input-busqueda-order {
  margin-bottom: 16px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-bottom: 1px solid #000000;
  font-size: 16px;
}

.paginacion-order {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

/* Botones de paginación */
.paginacion-order button {
  padding: 6px 12px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.paginacion-order button:hover {
  background-color: #c7c7c7;
}